body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.caja {
    border: 2px solid blue;
    border-radius: 12px;
    padding: 40px 20px;
}

.precio {
    font-weight: bold;
    color: blue;
}

.promo {
    background-color: rgb(111, 0, 255);
    color: white;
    padding: 25px;
    margin-top: 30px;
    border-radius: 12px;
    font-size: 15px;
}
