.caja1 {
    background-color: #76A7D8;
    border: 2px solid gray;
    width: 50%;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    line-height: 100px;
}

.caja2 {
    background-color: #FFFF99;
    width: 20%;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.caja3 {
    background-color: #E86A4A;
    border: 1px double black;
    width: 20%;
    height: 50px;
    float: left;
    clear: left;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}
