@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400&display=swap');

body {
    background-color: #B6EEF0;
    font-family: 'Gluten';
    font-weight: 400;
    font-size: 12pt;
    text-align: justify;
    line-height: 1.2;
}

h1 {
    font-family: Arial;
    font-size: 24pt;
    color: #0728F6;
}

h2 {
    font-family: Arial;
    font-size: 20pt;
    color: #455CED;
}

h3 {
    font-family: Arial;
    font-size: 16pt;
    color: #6272D6;
}

strong {
    color: #455CED;
}
