header {
    background-color: rgb(16, 245, 27);
}
/*hola*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    text-shadow: 2px 1px 1px red;
    color:firebrick;
    text-decoration: underline;
}
h2 {
    font-family: fuentedearchvo;
    color: blue;
    font-size: 20pt;
    text-align: right;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: gray;
    text-align: justify;
    line-height: 1.5em;
}